version: "2.1"

services:
  adguard:
    image: adguard/adguardhome:latest@sha256:f890b77505e410e295cc96830632b46075d7263cef52c158f9331348c98e1228
    network_mode: host
    privileged: true
    volumes:
      - "adguardhome_work:/opt/adguardhome/work:rw"
      - "adguardhome_conf:/opt/adguardhome/conf:rw"
    command:
      - "--no-check-update"
      - "--web-addr"
      - "0.0.0.0:80"
      - "--config"
      - "/opt/adguardhome/conf/AdGuardHome.yaml"

  # https://hub.docker.com/r/homeassistant/home-assistant
  homeassistant:
    image: homeassistant/home-assistant:2025.11.3@sha256:f971850a6ec1fb5c5fd4e1748058e9e1f589aaf0da933b8d88bb5dee03f5b5e8
    network_mode: host
    volumes:
      - config:/config
    labels:
      io.balena.features.dbus: "1"
    environment:
      DBUS_SYSTEM_BUS_ADDRESS: unix:path=/host/run/dbus/system_bus_socket
    privileged: true

  # https://hub.docker.com/_/eclipse-mosquitto
  mqtt:
    build: mqtt
    ports:
      - 1883:1883
    volumes:
      - mqtt:/mosquitto/data
    tmpfs:
      - /mosquitto/log

  # https://esphome.io/guides/getting_started_command_line.html#installation
  esphome:
    image: ghcr.io/esphome/esphome:2025.11.0@sha256:29f3391ffb0a4eeabeee48908f0ba273937b121377b1a526dbe9065e02a2ecec
    volumes:
      - esphome:/config
    privileged: true
    network_mode: host

  # https://www.zigbee2mqtt.io/guide/getting-started/#installation
  # zigbee2mqtt:
  #   build: zigbee2mqtt
  #   restart: no
  #   volumes:
  #     - zigbee2mqtt:/app/data
  #   ports:
  #     - 7000:7000
  #   privileged: true

  # https://hub.docker.com/r/codercom/code-server
  # code-server:
  #   image: codercom/code-server:4.17.1@sha256:69f3b3952cd7a9680c290cf2c8030888064c759b7b599505eda5b52bdd841e74
  #   command:
  #     - --port=9000
  #     - --auth=none
  #     - --extensions-dir=/config/.vscode
  #     - --user-data-dir=/config/.vscode
  #     - /config
  #   working_dir: /config
  #   ports:
  #     - 9000:9000/tcp
  #   volumes:
  #     - config:/config
  #   user: root

  # https://hub.docker.com/_/influxdb
  # influxdb:
  #   image: influxdb:1.8.10@sha256:8229301186573a2e4923fad6e347f7f86b430fe311fdbd6b80e0f45d5a2a78ed
  #   volumes:
  #     - influxdb:/var/lib/influxdb
  #   ports:
  #     - 8086:8086

  # https://hub.docker.com/r/grafana/grafana
  # grafana:
  #   image: grafana/grafana:10.1.4@sha256:29f39e23705d3ef653fa84ca3c01731e0771f1fedbd69ecb99868270cdeb0572
  #   volumes:
  #     - grafana:/var/lib/grafana
  #   ports:
  #     - 3000:3000/tcp

  # https://github.com/balenablocks/hostname
  hostname:
    build: hostname
    restart: no
    labels:
      io.balena.features.supervisor-api: 1
    environment:
      SET_HOSTNAME: homeassistant

  # https://github.com/home-assistant-libs/python-matter-server/blob/main/docs/docker.md
  matter-server:
    image: ghcr.io/home-assistant-libs/python-matter-server:8.1.0@sha256:170aa093ce91c76cde4cc390918307590f0f5558fcec93f913af3cb019e6562a
    # Required for mDNS to work correctly
    network_mode: host
    security_opt:
      # Required for Bluetooth via D-Bus
      - apparmor:unconfined
    volumes:
      - duplicati:/config
      - config:/volumes/config
      # - influxdb:/volumes/influxdb
      # - grafana:/volumes/grafana
      # - zigbee2mqtt:/volumes/zigbee2mqtt
      # - frigate-media:/volumes/frigate-media
      - tailscale:/volumes/tailscale
      - netdatalib:/volumes/netdatalib
      - esphome:/volumes/esphome

  # https://blakeblackshear.github.io/frigate/installation
  # frigate:
  #   image: ghcr.io/blakeblackshear/frigate:0.12.1@sha256:bb7f7e76a13eccef0b12704e5851cc774a12af1f12df387d6a70a796a3e938c3
  #   privileged: true
  #   ports:
  #     - "5000:5000"
  #     - "1935:1935" # RTMP feeds
  #   volumes:
  #     - config:/config
  #     - frigate-media:/media/frigate
  #   tmpfs:
  #     - /tmp/cache
  #   shm_size: 2048M
  #   environment:
  #     FRIGATE_RTSP_PASSWORD: "balena"
  #     CONFIG_FILE: "/config/frigate.yml"
  #   labels:
  #     io.balena.features.kernel-modules: 1
  #   devices:
  #     - /dev/dri:/dev/dri

  # https://hub.docker.com/r/mrlt8/wyze-bridge/tags
  # wyze-bridge:
  #   image: mrlt8/wyze-bridge:2.4.0@sha256:5b28c565ab4697dfff117888678b18a445dc57d145ff643217c167a195de9c38
  #   ports:
  #     # - 1935:1935 # RTMP
  #     # - 8554:8554 # RTSP
  #     # - 8888:8888 # HLS
  #     # - 8889:8889 # WebRTC
  #     # - 8189:8189/udp # WebRTC/ICE
  #     - 5001:5000 # WEB-UI
  #   volumes:
  #     - wyze-tokens:/tokens

  # https://github.com/klutchell/balena-tailscale
  tailscale:
    build: tailscale
    image: bh.cr/klutchell_blocks/tailscale-aarch64
    network_mode: host
    restart: on-failure
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    labels:
      io.balena.features.kernel-modules: 1
    tmpfs:
      - /tmp
      - /var/run/
    environment:
      TS_EXTRA_ARGS: --reset
      REQUIRE_AUTH_KEY: true

  netdata:
    image: netdata/netdata:v1.45.5@sha256:5351fff01c2e7b718121d530fedf8af7f65dea64a34f99f4d627f1100c272dc8
    privileged: true
    network_mode: host
    cap_add:
      - SYS_PTRACE
    security_opt:
      - apparmor:unconfined
    labels:
      io.balena.features.balena-socket: 1
      io.balena.features.procfs: 1
      io.balena.features.supervisor-api: 1
      io.balena.features.sysfs: 1
    volumes:
      - tailscale:/var/lib/tailscale

  zwave-js-ui:
    container_name: zwave-js-ui
    image: zwavejs/zwave-js-ui:latest@sha256:b3e81d29666116cdc8a5e80e9b57af73f04af627f84bf23cb2d6a6b050de61dc
    network_mode: host
    restart: always
    tty: true
    stop_signal: SIGINT
    environment:
      - SESSION_SECRET=mysupersecretkey
      - ZWAVEJS_EXTERNAL_CONFIG=/usr/src/app/store/.config-db
      # Uncomment if you want logs time and dates to match your timezone instead of UTC
      # Available at https://en.wikipedia.org/wiki/List_of_tz_database_time_zones
      #- TZ=America/New_York
    devices:
      # Do not use /dev/ttyUSBX serial devices, as those mappings can change over time.
      # Instead, use the /dev/serial/by-id/X serial device for your Z-Wave stick.
      - "/dev/serial/by-id/usb-Zooz_800_Z-Wave_Stick_533D004242-if00:/dev/zwave"
    volumes:
      - zwave-config:/usr/src/app/store
    ports:
      - "8091:8091" # port for web interface
      - "3000:3000" # port for Z-Wave JS websocket server

volumes:
  adguardhome_work: {}
  adguardhome_conf: {}
  config: {}
  # influxdb: {}
  # grafana: {}
  mqtt: {}
  # zigbee2mqtt: {}
  duplicati: {}
  # frigate-media: {}
  # wyze-tokens: {}
  tailscale: {}
  esphome: {}
  zwave-config: {}
